{% if pageCount > 1 %}
<!-- Pagination -->
<form method="get" name="pagination">
    <div class="pagination-wrapper mt-16">
        <div class="pagination-limit">
            <div class="pagination-limit__title">Pokaż</div>
            <input type="number" name="limit" class="pagination-limit__input" value="{% if query.limit is defined %}{{ query.limit }}{% else %}25{% endif %}" min="10" max="999">
        </div>

        <!-- Pagination mobile -->
        <div class="pagination-mixed mt-13 md:mt-0">
            {% if first is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="pagination-mixed__item pagination-mixed__item--border-r is-disabled">
                    <img loading="lazy" src="{{ asset('build/images/pointing-left.svg') }}" alt="Pointing left" />
                </a>
            {% endif %}

            {% if previous is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="pagination-mixed__item pagination-mixed__item--border-r is-disabled">
                    <img loading="lazy" src="{{ asset('build/images/triangle-left.svg') }}" alt="Pointing left" />
                </a>
            {% endif %}


            {% for page in pagesInRange %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="pagination-mixed__item{% if page == current %} is-active{% endif %}">{{ page }}</a>
            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <a href="" class="pagination-mixed__item">...</a>
                    {% else %}
                        <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}" class="pagination-mixed__item">{{ pageCount -1 }}</a>
                    {% endif %}
                {% endif %}
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}"  class="pagination-mixed__item pagination-mixed__item--border-r">{{ pageCount }}</a>
            {% endif %}

            {% if next is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="pagination-mixed__item pagination-mixed__item--border-r">
                    <img loading="lazy" src="{{ asset('build/images/triangle-right.svg') }}" alt="Pointing right" />
                </a>
            {% endif %}

            {% if last is defined and current != last %}
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="pagination-mixed__item">
                    <img loading="lazy" src="{{ asset('build/images/pointing-right.svg') }}" alt="Pointing right" />
                </a>
            {% endif %}
        </div>
        <!-- Pagination mobile! -->

        <!-- Pagination desktop -->
        <div class="pagination-skipper">
            {% if first is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="pagination-skipper__item">
                    <img loading="lazy" src="{{ asset('build/images/pointing-left.svg') }}" alt="Pointing left" />
                </a>
            {% endif %}

            {% if previous is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="pagination-skipper__item">
                    <img loading="lazy" src="{{ asset('build/images/triangle-left.svg') }}" alt="Pointing left" />
                </a>
            {% endif %}

            <input type="number" name="page" class="pagination-skipper__input" value="{{ current }}" min="1" max="433">

            <div class="pagination-skipper__title">z {{ pageCount }}</div>

            {% if next is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="pagination-skipper__item is-active">
                    <img loading="lazy" src="{{ asset('build/images/triangle-right.svg') }}" alt="Pointing right" />
                </a>
            {% endif %}

            {% if last is defined and current != last %}
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="pagination-skipper__item is-active">
                    <img loading="lazy" src="{{ asset('build/images/pointing-right.svg') }}" alt="Pointing right" />
                </a>
            {% endif %}
        </div>

        <div class="pagination-pages">
            {% for page in pagesInRange %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="pagination-pages__item">{{ page }}</a>
            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <div class="pagination-pages__blank">...</div>
                    {% else %}
                        <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}" class="pagination-pages__item">{{ pageCount -1 }}</a>
                    {% endif %}
                {% endif %}
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}" class="pagination-pages__item">{{ pageCount }}</a>
            {% endif %}
        </div>
        <!-- Pagination desktop! -->

    </div>
    <!-- Pagination! -->
</form>
    <script>
        (function (){
            const form = document.querySelector('form[name="pagination"]');
            form.addEventListener('input', function (event) {
                form.submit();
            })
        }());
    </script>
{% endif %}
