{% block billing_item_template %}
    <tr>
        <td>
            <div class="form-control">
                {{ form_widget(billingItemsFormView.billingItems.vars.prototype.name, {'attr': {'data-content': 'name'}}) }}
            </div>
            <div class="md:hidden mt-3">
                <div class="form-control">

                </div>
            </div>
        </td>
        <td>
            <div class="md:hidden">
                <div class="form-control">

                </div>
            </div>
            <div class="form-control mt-3 md:mt-0">
                {{ form_widget(billingItemsFormView.billingItems.vars.prototype.quantity, {'attr': {'data-content': 'quantity'}}) }}
            </div>
            <div class="block mt-6 md:hidden">
                <a href="" download class="flex table-link">
                    <div class="table-icon">
                        <img loading="lazy" src="{{ asset('build/images/bin.svg') }}" alt="Bin" class="pseudo-table-icon mr-4" />
                    </div>
                    Usuń
                </a>
            </div>
        </td>
        <td class="hidden md:table-cell text-nowrap">
            <div class="form-control">
                {{ form_widget(billingItemsFormView.billingItems.vars.prototype.unitPrice, {'attr': {'data-content': 'unit-price'}}) }}
            </div>
        </td>
        <td class="hidden md:table-cell">
            <div class="form-control">
                {{ form_widget(billingItemsFormView.billingItems.vars.prototype.vatRate, {'attr': {'data-content': 'vat-rate'}}) }}
            </div>
        </td>
        <td class="hidden md:table-cell text-nowrap">
            <a href="" download class="flex table-link" data-action="remove">
                <div class="table-icon">
                    <img loading="lazy" src="{{ asset('build/images/bin.svg') }}" alt="Bin" class="pseudo-table-icon mr-4" />
                </div>
                Usuń
            </a>
        </td>
    </tr>
{% endblock %}